.button {
    margin-top: 20px;
    margin-left: 40px;
}
input {
    width: 200px;
    height: 25px;
    font-size: 20px;
}

button {
    height: 35px;
    font-size: 18px;
    background-color: darkslateblue;
    color: white;
}


.success {
    font-size: 20px;
    margin-top: 20px;
    color: green;
}

.error {
    font-size: 20px;
    margin-top: 20px;
    color: red;
}